<aside class="sidebar">
    <nav>
        <ul>
            <li><a href="/"><i class="fa-solid fa-timeline"></i> Timeline</a></li>
            <li><a href="/map"><i class="fa-solid fa-map-location-dot"></i> Map</a></li>
            <li><a href="/sync/status"><i class="fa-solid fa-arrows-rotate"></i> Sync Status</a></li>
            <li><a href="/setup"><i class="fa-solid fa-gear"></i> Setup</a></li>
        </ul>
    </nav>
</aside>
