<header class="topbar">
    <nav class="container-fluid">
        <ul>
            <li><strong>Chronoscope</strong></li>
        </ul>
        <ul>
            <li>
                <button id="themeToggle" class="outline secondary" aria-label="Toggle theme">
                    <i class="fa-solid fa-moon"></i>
                </button>
            </li>
            <li><a href="#" class="icon-link" aria-label="Alerts"><i class="fa-solid fa-bell"></i></a></li>
            <li><a href="#" class="icon-link" aria-label="Profile"><i class="fa-solid fa-user"></i></a></li>
        </ul>
    </nav>
</header>
